{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Body Care</title>
    <link href = "{% static '/css/main.css' %}"   rel="stylesheet" type = "text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    

</head>    
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class ="col-md-12">
                <div class ="card card-body h-100 border-info" id = "profile-wrapper">
                    <img id="profile-pic" src ="{% static 'images/headphone.jpg' %}">
                    <hr>
                    <h4>products</h4>
                    <p>Skincare products are products designed to improve the health and appearance of the skin. They can be used to treat a wide range of skin conditions, including dryness, acne, wrinkles, and sun damage.</p>
                    <li><a href = ""></a></li>
                </div>
            </div>
